* {
	padding: 0px;
	margin: 0px;
	border: none;
}

a {
	color: inherit;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

input::placeholder {
	color: #B3B3B3;
}

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* Подключение шрифтов */
@font-face {
	font-family: 'Exo2-Medium';
	src: url(../fonts/Exo2-Medium.woff2) format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'Exo2-SemiBold';
	src: url(../fonts/Exo2-SemiBold.woff2) format('woff2');
	font-weight: 600;
}

@font-face {
	font-family: 'SFProDisplay-Regular';
	src: url(../fonts/SFProDisplay-Regular.woff2) format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'SFProDisplay-Medium';
	src: url(../fonts/SFProDisplay-Medium.woff2) format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'SFProDisplay-Semibold';
	src: url(../fonts/SFProDisplay-Semibold.woff2) format('woff2');
	font-weight: 600;
}

@font-face {
	font-family: 'SFProDisplay-Bold';
	src: url(../fonts/SFProDisplay-Bold.woff2) format('woff2');
	font-weight: 700;
}


body {
	font-family: 'SFProDisplay-Regular';
	font-size: 18px;
	background-color: #32323B;
	text-wrap: balance;
	height: 100vh;
	color: #FFFFFF;
}

:root {
	--accent: #38A253;
	--white: #ffffff;
	--black: #141414;
}


/* slider  */

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.slide-1 {
	background: url('../img/House2.webp');
	height: 1100px;
	background-repeat: no-repeat;
	background-size: cover;
}

.slide-2 {
	background: url('../img/Industrial.webp');
	height: 1100px;
	background-repeat: no-repeat;
	background-size: cover;
}

/*  */

.container {
	max-width: 1280px;
	margin: 0px auto;
}

.header {
	padding: 35px 0px 35px;
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 9;
}

.header__link-item:hover {
	background-color: var(--accent);
	color: var(--white);

}

.header__link-item:last-child {
	margin-right: 0px;
}

.header__info {
	display: flex;
	align-items: center;
}

.header__line {
	margin: 0px 25px 0px 25px;
}

.header__social-tg {
	margin-right: 10px;
	margin-left: 40px;
}

/*  */
.hero__subtitle {
	font-family: 'SFProDisplay-Medium';
	font-weight: 400;
	line-height: 135%;
	font-size: 18px;
	letter-spacing: 1%;
	color: rgba(255, 255, 255, 0.65);
	text-align: left;
	text-shadow: 0px 4px 150px rgba(0, 0, 0, 0.8);
	text-shadow: 0px 4px 150px color(display-p3 0.000 0.000 0.000 / 0.8);
	margin-top: 15px;
}

.hero {
	margin-top: 57vh;
}

.hero__title {
	font-size: 60px;
	line-height: 90%;
	text-align: left;
	color: var(--white);
	text-shadow: 0px 4px 150px rgba(0, 0, 0, 0.8);
	text-shadow: 0px 4px 150px color(display-p3 0.000 0.000 0.000 / 0.8);
	font-family: 'Exo2-Semibold';
}

/* TOOLTIP */
.tooltip-container {
	position: absolute;
	display: inline-block;
}

.tooltip-wrap-1 {
	top: 18vh;
	left: 62vw;
}

.tooltip-wrap-2 {
	top: 89vh;
	left: 61vw;
}

.tooltip-wrap-3 {
	top: 89vh;
	left: 76vw;
}

.tooltip-wrap-4 {
	top: 85vh;
	left: 88vw;
}

.tooltip-wrap-5 {
	top: 72vh;
	left: 44vw;
}

.tooltip-wrap-6 {
	top: 42vh;
	left: 35vw;
}

.tooltip-wrap-7 {
	top: 18vh;
	left: 67vw;
}

.tooltip-wrap-8 {
	top: 70vh;
	left: 90vw;
}

.tooltip-wrap-9 {
	top: 76vh;
	left: 82vw;
}


.tooltip {
	position: absolute;
	left: -232px;
	top: -110px;
	z-index: 999;
	color: white;
	padding: 18px;
	padding-bottom: 20px;
	border-radius: 10px;
	max-width: 255px;
	display: none;
	z-index: 1;
	padding-right: 30px;
	height: auto;
	background: rgba(0, 0, 0, 0.809);
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 120px 120px 40px 120px;
}

#special-tooltip {
	top: -120px;
	width: auto;
	height: auto;
}

#special-tooltip p {
	margin-left: 20px !important;
}

#special-btn {
	margin-left: 15px !important;
}

.tooltip-slide2 {
	width: auto;
	height: auto;
	left: -230px;
	top: -110px;
}

.tooltip-slide2 p {
	margin-left: 20px !important;
}

.tooltip p {
	font-family: 'SFProDisplay-Medium';
	font-style: normal;
	font-weight: 500;
	margin-left: 25px;
	margin-top: 10px;
	font-size: 14px;
	line-height: 130%;
	color: var(--white);
	text-align: left;
}

.tooltip-button {
	margin-top: 12px;
	background-color: #38A253;
	font-family: 'SFProDisplay-Bold';
	font-weight: 700;
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.03em;
	color: var(--white);
	padding: 10px 24px;
	border-radius: 40px;
	display: flex;
	justify-content: left;
	margin-left: 25px;
}

.hero__btn-group {
	margin-top: 30px;
	display: flex;
	align-items: center;
}

.hero-btn {
	background: url('../img/btn.svg');
	width: 300px;
	height: 96px;
	font-family: 'SFProDisplay-Bold';
	font-weight: 700;
	color: var(--white);
	line-height: 136%;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	cursor: pointer;
	transition: ease 0.2s;
}

.hero-btn:hover {
	transform: scale(0.97);
}

.hero-btn-play {
	background: url('../img/btn-play.svg');
	width: 167px;
	height: 119px;
	margin-left: 25px;
	margin-top: -12px;
	cursor: pointer;
	transition: ease 0.2s;
}

.hero-btn-play:hover {
	transform: scale(0.97);
}

.section__title {
	font-family: 'Exo2-Semibold';
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	color: var(--white);
	margin-top: 120px;
	line-height: 115%;
}

.section__title-partner {
	font-family: 'Exo2-Semibold';
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	color: var(--white);
	margin-top: 60px;
	margin-bottom: 30px;
	line-height: 115%;
}

.section__title span {
	color: #369F51;
}

.section__title-partner span {
	color: #369F51;
}

/* tabs */
.tabs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	margin-top: 45px;
	max-width: 1280px;
	overflow-y: auto;
}

.tab {
	background-color: rgba(39, 135, 63, 0.7);
	border: none;
	padding: 20px 30px;
	cursor: pointer;
	width: -webkit-fill-available;
	margin-right: 25px;
	font-size: 16px;
	border-radius: 12px;
	font-family: 'SFProDisplay-Semibold';
	color: white;
	text-wrap: nowrap;
	transition: ease 0.2s
}

.tab:hover {
	background-color: #25853d;
	transform: scale(0.95);
}


#last-tab {
	margin-right: 0px;
}

.tab.active {
	background-color: #369F51;
}

.content {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}

.card {
	background-color: var(--white);
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	flex: 1 1 calc(24% - 20px);
	display: flex;
	height: max-content;
	flex-direction: column;
}

.tooltip-icon {
	transition: ease 0.3s;
	cursor: pointer;
}

.tooltip-icon:hover {
	transform: scale(1.07);
}

.tooltip-icon .tooltip-image {
	position: absolute;
	top: 100%;
	left: 105%;
	transform: translateX(-70%);
	margin-top: -210px;
	z-index: 10;
	display: none;
}

.tooltip-icon:hover .tooltip-image {
	display: block;
}

.card-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px auto;
	color: var(--white);
	border-radius: 30px;
	width: 90%;
	margin-bottom: 15px;
	padding: 16px 0px 16px;
	margin-top: -30px;
	font-family: 'SFProDisplay-Bold';
	font-size: 14px;
	line-height: 140%;
	background-color: var(--accent);
	transition: ease 0.2s;
	margin-top: 0px !important;
}

.card-btn:hover {
	background-color: #25853d;
	transform: scale(0.97);
}

.card-group {
	color: var(--black);
	display: flex;
	flex-direction: column;
}

.card-description li:nth-child(1) {
	margin-top: 0px;
}

.card-description li {
	margin-top: 15px;
	max-width: auto;
}

.card-description li>span {
	text-decoration: underline;
}

.card-group-wrap {
	display: flex;
	align-items: center;
}

.card img {
	width: 55px;
	margin: 0px auto;
	margin-top: 15px;
}

.card-line {
	background: url(../img/line-card.svg);
	width: 10px;
	height: 1.5px;
	margin-top: 0px !important;
	width: 100% !important;
}


.card-content h3 {
	margin: 0px auto;
	text-align: center;
	margin-top: 10px;
	font-family: 'SFProDisplay-Medium';
	font-weight: 500;
	font-size: 18px;
	color: var(--black);
	padding: 12px 20px 15px 20px;
}

.card-content h3>a {
	transition: ease 0.2s;
	border-radius: 4px;
}

.card-content h3>a:hover {
	background-color: var(--accent);
	border-radius: 4px;
	padding: 5px 10px;
	color: var(--white);
}

.card p {
	margin: 10px 0;
}

.card-description {
	padding: 0px 20px 20px 20px;
}

.card-content .card-description {
	font-family: 'SFProDisplay-Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	white-space: pre-line;
}


.card-description>a {
	text-decoration: none;
	display: inline-block;
	line-height: 1;
	color: inherit;
}

.card-description>li:hover:after,
.card-description>li:focus:after {
	width: 100%;
	color: #298F43;
}

.card-description>li:after {
	display: block;
	content: "";
	height: 1.5px;
	width: 0%;
	background-color: var(--accent);
	transition: width 0.4s ease-in-out;
}

.program {
	margin-top: 140px;
}

.section__group {
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: 'Azest';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 147.31%;
	text-align: center;
	color: var(--black);
	justify-content: center;
}

.section__subtitle {
	margin-top: 20px;
}

.program__card {
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%2300000063' stroke-width='4' stroke-dasharray='2%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
	border-radius: 30px;
	padding: 50px 60px;
	display: flex;
	align-items: center;
	margin-top: 60px;
}

.program__card-title {
	font-family: 'Azest';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 147.31%;
}

.program__card-title>span {
	color: var(--accent);
}

.program__card-text {
	display: flex;
	flex-direction: column;
}

.program__card-text-day2 {
	display: flex;
	flex-direction: column;
	width: 1080px;
}

.program__card-text-day4 {
	margin-right: 60px;
}

.program__card-content {
	margin-top: 25px;
	max-width: 730px;
}

.program__card-li {
	list-style-type: circle;
	margin-left: 85px;
	font-family: 'SFProDisplay-Medium';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	margin-top: 10px;
	line-height: 147.31%;
}

.program__card-image {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 10px;
}

.program__card-image>div {
	text-align: center;
}

.large {
	grid-row: span 2;
}

.program__card-img {
	border-radius: 12px;
	border: 5px solid #fff;
}

.program__card-img:nth-child(1) {
	margin-right: -60px;
}

.program__card-img:nth-child(2) {
	height: 143px;
	object-fit: cover;
}

.program__card-image-day2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: right;
	gap: 10px;
}

.cloud-zoom {
	width: 100px !important;
	height: 100px !important;
	top: -95px !important;
	left: 25px !important;
	position: absolute !important;
}

.partners-wrap {
	background-color: #090c1242;
	padding-top: 10px;
	margin-top: 60px;
}

.program__card-img-day2,
.program__card-img-day4 {
	border-radius: 12px;
	border: 5px solid #fff;
}

.program__card-image-day4 {
	display: flex;
}

.program__card-img-day4:nth-child(1) {
	margin-right: 20px;
}

.program__btn {
	display: flex;
	margin-top: 20px;
	justify-content: center;
}

/*  */

.brands__wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}


.brands__wrap>a>img {
	border-radius: 16px;
	max-width: fit-content;
	margin-right: 60px;
	box-shadow: 0px 0px 90px rgba(170, 170, 170, 0.25);
	box-shadow: 0px 0px 90px color(display-p3 0.667 0.667 0.667 / 0.25);
	max-width: 274px;
}

.questions__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
}

.questions__wrap-info {
	background-image: url("../img/qustion-wrap-bg.svg");
	padding: 30px;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	height: 160px;
	flex-direction: column;
}

.questions__wrap-info-email-title {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 148.4%;
	text-align: center;
}

.questions__wrap-info-email-text {
	font-size: 25px;
	line-height: 148.4%;
	text-align: center;
	text-decoration-line: underline;
	margin-left: auto;
}

.questions__wrap-info-email-text>a,
.questions__wrap-info-phone-text>a {
	font-family: 'SFProDisplay-Medium';
}

.questions__wrap-info-phone-text {
	font-size: 25px;
	line-height: 148.4%;
	text-align: center;
	margin-left: 50px;
}

.questions__wrap-info-email-text:nth-child(2) {
	margin-left: 190px;
}

.questions__wrap-info:nth-child(2) {
	margin-top: 20px;
}

.questions__container {
	display: flex;
	align-items: center;
}

.questions__container:nth-child(2) {
	margin-top: 10px;
}

.question__wrap-title {
	font-size: 30px;
	line-height: 148.4%;
	text-align: center;
	font-family: 'SFProDisplay-Medium';
}

.questions__wrap-form {
	display: flex;
	flex-direction: column;
	justify-content: right;
}

.question__wrap-subtitle {
	font-family: 'SFProDisplay-Medium';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 148.4%;
}

.question__wrap-input {
	display: flex;
	position: relative;
}

.question__wrap-input>form {
	width: 100%;
}

.question__wrap-input>form>input {
	background: #FFFFFF;
	box-shadow: 0px 0px 90px rgba(170, 170, 170, 0.25);
	box-shadow: 0px 0px 90px color(display-p3 0.667 0.667 0.667 / 0.25);
	border-radius: 12px;
	padding: 17px 25px;
	width: 100%;
	color: var(--black)
}

.question__wrap-input {
	margin-top: 30px;
}

.question__wrap-btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: -59px;
	padding: 17.5px 35px;
	background: var(--accent);
	border-radius: 12px;
	color: var(--white);
	position: absolute;
	font-family: 'SFProDisplay-Bold';
	right: 0;
	transition: ease 0.2s;
}

.question__wrap-btn:hover {
	background-color: #25853d;
	transform: scale(1.02);
}

.faq-group {
	margin-top: 50px;
}

.faq-title {
	font-family: 'Azest';
	text-align: center;
	font-size: 45px;
}

.faq-subtitle {
	font-size: 24px;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 10px;
	line-height: 125%;
}

.faq-item {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	padding: 15px 0;
}

.faq-item:last-child {
	border-bottom: none;
}

.faq-question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'SFProDisplay-Medium';
	font-size: 24px;
	cursor: pointer;
	line-height: 125%;
	margin-top: 15px;
}

.faq-answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease;
	margin-top: 20px;
	color: var(--white);
	max-width: 700px;
	line-height: 135%;
	opacity: 0.8;
	font-size: 20px;
}

.faq-question::after {
	content: '';
	display: inline-block;
	min-width: 35px;
	height: 17px;
	background: url('../img/arrow-down.svg') no-repeat center center;
	background-size: contain;
	transition: transform 0.3s;
	width: 50px;
	height: 50px;
	margin-left: 20px;
}

.faq-question.active::after {
	transform: rotate(180deg);
}

.faq-question.active+.faq-answer {
	max-height: 1000px;
}

.faq-answer>li {
	margin-left: 20px;
}

.faq-answer>a {
	color: var(--accent);
}

.faq-answer>a:hover {
	text-decoration: underline;
}

/* Партнеры */
.d5-block {
	padding-top: 6.771vw;
	/*130px*/
	margin-bottom: 1.302vw;
	/*25*/
}

.d5-block h2 {
	color: #8b8b8a;
	font-size: 3.906vw;
	/*75*/
	float: left;
	font-weight: 300;
	margin: 0 0 9.635vw 0;
	/*185*/

}

.d5-block h2 span {
	margin-top: 0.833vw;
	/*16*/
	width: 0%;
	border-bottom: 3px #ffcc00 solid;
	height: 1px;
	display: block;
	-webkit-transition: width 1s ease-out;
	-o-transition: width 1s ease-out;
	transition: width 1s ease-out;
}

.d5-block h2 span.showed {
	width: 100%;
}

.d5-block .img-wrapper {
	width: 31.510vw;
	/*605*/
	margin-right: 2.604vw;
	/*50*/
	float: right;
	margin-top: 5vw;
	/*96*/
	margin-bottom: 8vw;
	/*80*/
}

.d5-block .icon-set,
.d5-block .text,
.d5-block .main-text {
	width: 41.719vw;
	/*800*/
	float: left;
	display: block;
}

.d5-block .main-text strong {
	font-weight: 300;
	font-size: 4.583vw;
	/*88*/
	color: #ffcc00;
}

.d5-block .main-text i {
	font-weight: 300;
	font-style: normal;
	font-size: 1.927vw;
	/*37*/
	color: #FFF;
	display: block;
}

.d5-block .text {
	font-weight: 300;
	font-size: 1.563vw;
	/*30*/
	color: #707173;
	display: block;
	margin: 1.563vw 0 3.646vw 0;
	/*30 70*/
}

.d5-block .icon-set .swiper-wrapper {
	z-index: 3;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.d5-block .icon-set .swiper-slide,
.d5-block .icon-set .icon {
	width: 7.031vw;
	/*135*/
	position: relative;
	display: block;
}

.d5-block .icon-set .swiper-slide {
	position: static;
	padding-bottom: 1.823vw;
	cursor: pointer;

}

.d5-block .icon-set .swiper-slide:hover {
	border-bottom: 1px #FFCC00 solid;
}

.d5-block .icon-hover-text {
	display: block;
	position: absolute;
	left: 0;
	top: 10.417vw;
	/*200*/
	font-size: 1.563vw;
	/*34*/
	z-index: 3;
	opacity: 0;
	transition: .5s;
	color: #707173;
}

.d5-block .icon-set .swiper-slide:hover .icon-hover-text {
	display: block;
	opacity: 1;
}

.d5-block .icon-set .default {
	opacity: 1;
	-webkit-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}

.d5-block .icon-set .hover {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in;
	-o-transition: opacity 0.2s ease-in;
	transition: opacity 0.2s ease-in;
	z-index: 3;
}

.d5-block .icon-set .icon:hover .default {
	opacity: 0;
}

.d5-block .icon-set .icon:hover .hover {
	opacity: 1;
}

.d5-block .icon-set-overlay {
	position: fixed;
	height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	z-index: 2;
	display: none;
}

.d5-block .table-set {
	width: 100%;
	float: left;
	position: relative;
}

.d5-block .table-set .set-wrapper {
	width: 50%;
	float: left;
	position: static;
}

.swiper-wrapper_100 .set-wrapper {
	width: 100% !important;
}

.d5-block .table-set .set-wrapper div {
	text-align: center;
	border-top: 1px #706f6f solid;
	height: 5.573vw;
	/*107*/
	color: #FFF;
	font-size: 1.667vw;
	/*32*/
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.d5-block .table-set .set-wrapper.first div {
	padding-right: 8.333vw
		/*160*/
}

.d5-block .table-set .set-wrapper.last div {
	padding-left: 8.333vw
		/*160*/
}

.d5-block .table-set .swiper-wrapper_100 .set-wrapper.first div {
	padding-right: 0
}

.d5-block .table-set .swiper-wrapper_100 .set-wrapper.last div {
	padding-left: 0
}

.d5-block .table-set .set-wrapper .header {
	width: 100%;
	color: #8b8b8a;
	font-size: 1.042vw;
	/*20*/
	margin-top: 0.781vw;
	/*15*/
}

.d5-block .table-set .set-wrapper.last .header {
	display: none;
}

.d5-block .table-set .set-wrapper.first .header {
	position: absolute;
	left: 0;
	right: 0;
}

.d5-block .table-set .swiper-wrapper_100 .set-wrapper.first .header {
	position: static;
}

.d5-block .table-set .swiper-wrapper_100 .set-wrapper>div {
	flex-wrap: nowrap;
}

.d5-block .table-set .swiper-wrapper_100 .set-wrapper>div>span {
	width: 50%;
	flex-grow: 1;
}

.d5-block .table-set .set-wrapper .title {
	color: #ffcc00;
	font-size: 1.615vw;
	/*31*/
}

.d5-block .table-set .set-wrapper .title span {
	display: block;
}

.d5-block .table-set .set-wrapper .title strong {
	font-weight: normal;
	font-size: 1.875vw;
	/*36*/
	display: block;
}

.title_line strong {
	display: inline-block !important;
}

.d5-block .table-set .set-wrapper .price {
	color: #ffcc00;
	font-size: 2.135vw;
	/*41*/
	border-bottom: 1px #706f6f solid;
}

.d5-block .actions {
	width: 100%;
	float: left;
	margin-top: 3.438vw;
	/*66*/
	margin-bottom: 6.2vw;

}

.d5-block .actions .button {
	margin-bottom: 1.042vw;
	/*20px*/
}

.d5-block .actions .left {
	float: left;
	position: relative;

}

.d5-block .actions .right {
	float: right;
	position: relative;
}

#d5-vella .actions .right {
	display: block !important;
}

.d5-block .actions .order {
	opacity: 1;
	-webkit-transition: opacity 0.4s ease-in;
	-o-transition: opacity 0.4s ease-in;
	transition: opacity 0.4s ease-in;
}

.d5-block .actions .right.active .order,
.d5-block .actions .left.active .order {
	opacity: 0;
}

.d5-block .actions div div {
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in;
	-o-transition: opacity 0.4s ease-in;
	transition: opacity 0.4s ease-in;
	position: absolute;
	top: 0;
	z-index: -1;
}

.d5-block .actions div.active div {
	opacity: 1;
	z-index: 1;
}

.d5-block .actions div div .orderpartners {
	position: absolute;
	top: 0;
	z-index: -2;
	-webkit-transition: top 0.4s ease-in;
	-o-transition: top 0.4s ease-in;
	transition: top 0.4s ease-in;
}

.d5-block .actions div.active div .orderpartners {
	top: 6.2vw;
	z-index: 2;
}

.d5-block-1 {
	padding: 0 8.85%;
	display: table;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-bottom: 3.39vw;
}

.d5-block-1 .crow {
	display: table-row;
}

.d5-block-1 .ccol {
	display: table-cell;
	width: 20%;
	vertical-align: top;
}

.d5-block-1 h5 {
	font-size: 51px;
	font-size: 38px;
	color: var(--accent);
	font-weight: 300;
	padding-bottom: 20px;
	margin-bottom: 25px;
	padding-bottom: 1.04vw;
	margin-bottom: 1.3vw;
	border-bottom: 1px #5c5c5c solid;
	float: left;
	width: 31.64%;
	margin-top: 1em;
}

.d5-block-1 a {
	display: block;
	font-size: 25px;
	font-size: 18px;
	margin: 5px 0;
	float: left;
	clear: left;
	color: #FFF;
	text-decoration: none;
}

.d5-block-1 a:hover {
	text-decoration: none;
	color: var(--accent);
}

/* Модальное окно */
.modal {
	display: none;
}

.modal.show {
	display: flex;
	opacity: 1;
}

.btn-form {
	background: url('../img/btn-form.svg');
	width: 319px;
	height: 85px;
	font-family: 'SFProDisplay-Bold';
	background-repeat: no-repeat;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 0.03em;
	color: var(--white);
	margin-top: 10px;
	padding-bottom: 5px;
	line-height: 130%;
	transition: ease 0.2s;
}

.btn-form:hover {
	transform: scale(0.97);
}

.modal-content {
	background: rgba(232, 240, 234, 1);
	padding: 30px 40px;
	border-radius: 20px;
	width: 409px;
	position: relative;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	text-align: center;
	transform: translateY(50px);
	transition: transform 0.3s ease;
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	margin-block-start: 50vh;
	transform: translateY(-50%);
}

.fancybox-slide--video .fancybox-content {
	background: none !important;
}

.fancybox-slide--html {
	padding: 6px;
	overflow: hidden !important;
}

.modal-content2 {
	background: rgba(232, 240, 234, 1);
	padding: 30px 40px;
	border-radius: 20px;
	width: 409px;
	position: relative;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-block {
	display: none;
	color: var(--black);
	background: rgba(232, 240, 234, 1);
	padding: 30px 40px;
	border-radius: 20px;
	max-width: 750px;
	min-width: 400px;
	position: relative;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	text-align: center;
	transform: translateY(50px);
	transition: transform 0.3s ease;
}

.partner__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 15px 0;
}

#partner-unique {
	margin-bottom: 8px;
}

#partner-unique:last-child {
	margin-bottom: 0px;
}

.partner__item img {
	display: flex;
	justify-content: center;
	margin: 0px auto;
	width: -webkit-fill-available;
}

.partner__item-primary a {
	transition: ease-in-out 0.2s;
	text-wrap: nowrap;
}

.partner__item-primary a:hover {
	color: var(--accent);
}

.partner__item:last-child {
	margin: 0;
}

.partner__item-secondary {
	color: rgba(57, 57, 57, 0.5);
	margin-right: 40px;
}

/* .modal.show .modal-content {
	transform: translateY(0);
} */

.fancybox-content {
	/* background: none !important; */
	overflow: hidden !important;
}

.modal-content h2 {
	font-family: 'Exo2-Semibold';
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 115%;
	text-align: center;
	color: #393939;
}

.modal-content2 h2 {
	font-family: 'Exo2-Semibold';
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 115%;
	text-align: center;
	color: #393939;
}

.modal-block h2 {
	font-family: 'Exo2-Semibold';
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 115%;
	text-align: left;
	color: #393939;
	margin-top: -20px;
}

.close-button {
	background: none;
	border: none;
	font-size: 24px;
	position: absolute;
	top: 15px;
	right: 17px;
	cursor: pointer;
}

.close-button>img {
	margin-top: -16px;
	min-width: 35px;
	margin-right: -17px;
}

.modal__wrapper-partner {
	max-height: 365px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 70vh;
}

.partner-tel-group {
	display: flex;
	flex-direction: column;
}

h2 {
	margin: 0 0 20px;
	font-size: 18px;
	color: #333;
}

.input-group {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	padding: 18px;
	background: #FFFFFF;
	border: 1px solid rgba(250, 250, 250, 0.165952);
	box-shadow: inset 0px 1px 4px rgb(44 44 44 / 21%);
	border-radius: 7px;
	color: #393939;
}

.input-group input {
	border: none;
	outline: none;
	flex: 1;
	padding-left: 12px;
	font-size: 14px;
	margin-top: 7px;
}

.input-group .icon {
	font-size: 18px;
	color: #A66144;
}

.checkbox-group {
	display: flex;
	align-items: center;
	justify-content: start;
	margin-bottom: 15px;
	font-size: 14px;
	flex-direction: row-reverse;
}

.checkbox-group>span>a:hover {
	text-decoration: underline;
}

.checkbox-group span {
	text-align: left;
	margin-left: 12px;
	color: var(--black);
}

.checkbox-group input {
	margin-right: 10px;
}

.checkbox-group a {
	color: var(--accent);
	text-decoration: none;
}

.note {
	font-size: 14px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #B2B2B2;
	margin-top: 15px;
	line-height: 125%;
}

/* checkbox */
.checkbox {
	--border-default: #bbbbc1;
	--border-hover: #9898a3;
	--active-tick: #ffffff;
	display: block;
	width: 18px;
	height: 18px;
	cursor: pointer;
	position: relative;
	-webkit-tap-highlight-color: transparent;

	svg {
		display: block;
		position: absolute;
	}

	input {
		display: block;
		outline: none;
		border: none;
		padding: 0;
		margin: 0;
		-webkit-appearance: none;
		width: 18px;
		height: 18px;
		border-radius: 36% / 36%;
		box-shadow: inset 0 0 0 1.5px var(--border, var(--border-default));
		background: var(--background, transparent);
		transition: background .25s linear, box-shadow .25s linear;

		&+svg {
			width: 21px;
			height: 18px;
			left: 0;
			top: 0;
			color: #38A253;

			.tick {
				stroke-dasharray: 20;
				stroke-dashoffset: var(--stroke-dashoffset, 20);
				transition: stroke-dashoffset .2s;

				&.mask {
					stroke: var(--active-tick);
				}
			}

			&+svg {
				width: 11px;
				height: 11px;
				fill: none;
				stroke: var(--accent);
				stroke-width: 1.25;
				stroke-linecap: round;
				top: -6px;
				right: -10px;
				stroke-dasharray: 4.5px;
				stroke-dashoffset: 13.5px;
				pointer-events: none;
				animation: var(--animation, none) .2s ease .175s;
			}
		}

		&:checked {
			--background: var(--accent);
			--border: var(--accent);

			&+svg {
				--stroke-dashoffset: 0;

				&+svg {
					--animation: check;
				}
			}
		}
	}

	&:hover {
		input {
			&:not(:checked) {
				--border: var(--border-hover);
			}
		}
	}
}

/* custom arrow swiper */
.custom-next {
	width: 40px;
	/* ширина кнопки */
	height: 40px;
	/* высота кнопки */
	background-color: #333;
	/* цвет фона кнопки */
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 10;
	border-radius: 50%;
	/* если нужна круглая кнопка */
}

.custom-next::before {
	content: '';
	border: solid white;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 6px;
	transform: rotate(-45deg);
	position: absolute;
	top: 50%;
	left: 46%;
	transform: translate(-50%, -50%) rotate(-45deg);
}

.custom-next:hover {
	background-color: #555;
}

.custom-prev {
	width: 40px;
	height: 40px;
	background-color: #333;
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 10;
	border-radius: 50%;
}

.custom-prev::before {
	content: '';
	border: solid white;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 6px;
	transform: rotate(135deg);
	position: absolute;
	top: 50%;
	left: 56%;
	transform: translate(-50%, -50%) rotate(135deg);
}

.custom-prev:hover {
	background-color: #555;
}

.fancybox-slide--html .fancybox-close-small {
	opacity: 0;
}

.fancybox-slide--html .fancybox-close-small:hover {
	opacity: 0;
}

.fancybox-content {
	padding: 40px 20px !important;
}

@keyframes check {
	100% {
		stroke-dashoffset: 4.5px;
	}
}

@media (max-width: 1340px) {
	.section__title {
		font-family: 'Exo2-Semibold';
		font-size: 40px;
	}

	.section__title-partner {
		font-family: 'Exo2-Semibold';
		font-size: 40px;
	}

	.tooltip-icon {
		display: none;
	}

	.container {
		max-width: 1280px;
		margin: 0px 30px;
	}
}

@media (max-width: 1100px) {
	.questions__wrap {
		flex-direction: column;
	}

	.questions__wrap-info {
		margin: 0px auto;
	}

	.card {
		flex: 1 1 calc(40% - 20px);
	}

	.question__wrap-title {
		text-align: left;
	}

	.question__wrap-input {
		margin-top: 30px;
		width: 100%;
	}

	.questions__wrap-form {
		margin-top: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 900px) {
	.section__title {
		font-family: 'Exo2-Semibold';
		font-size: 37px;
	}

	.section__title-partner {
		font-family: 'Exo2-Semibold';
		font-size: 37px;
	}

	.d5-block-1 .ccol {
		display: table-cell;
		width: 25%;
		margin-right: 40px;
		vertical-align: top;
	}

	.d5-block-1 .crow {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
}

@media (max-width: 680px) {
	.questions__wrap-info-email-text {
		font-size: 25px;
	}

	.questions__wrap-info-phone-text {
		font-size: 25px;
	}

	.custom-prev {
		display: none;
	}

	.d5-block-1 {
		padding: 0 8.85%;
		display: table;
		width: 100%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding-bottom: 3.39vw;
	}
}

@media (max-width: 630px) {

	.questions__wrap-info-email-title,
	.questions__wrap-info-phone-text,
	.questions__wrap-info-email-text {
		font-size: 20px;
	}

	.questions__wrap-info-phone-text {
		margin-left: 80px;
	}
}

@media (max-width: 570px) {
	.questions__wrap-info {
		padding: 30px;
		display: flex;
		flex-direction: column;
	}

	.questions__wrap-info-email-text:nth-child(2) {
		margin-left: 0px;
	}

	@media (max-width: 900px) {
		.section__title-partner {
			font-family: 'Exo2-Semibold';
			font-size: 37px;
		}
	}

	.questions__container {
		display: flex;
		flex-direction: column;
	}

	.questions__wrap-info-phone-text {
		margin-left: 0px;
	}

	.questions__wrap-info {
		background-image: url(../img/qa-dott.svg);
		padding: 30px;
		background-repeat: no-repeat;
		background-size: contain;
		width: 360px;
		display: flex;
		height: 190px;
		flex-direction: column;
	}

	.faq-question {
		font-size: 20px;
	}
}

@media (max-width: 550px) {
	.hero__title {
		font-size: 48px;
		line-height: 100%;
	}

	.hero-btn-play {
		display: none;
	}

	.section__title-partner {
		font-size: 32px;
		margin-top: 40px;
		margin-bottom: 10px;
	}

	.header__social {
		display: none;
	}

	.questions__wrap {
		margin-top: 40px;
	}

	.question__wrap-title {
		font-size: 25px;
	}

	.question__wrap-subtitle {
		font-size: 20px;
	}

	.question__wrap-input>form>input {
		width: 400px;
	}

	.question__wrap-input {
		margin-top: 20px;
	}

	.card {
		flex: 1 1 calc(70% - 20px);
	}

	.faq-group {
		margin-top: 20px;
	}

	.hero__subtitle {
		font-size: 16px;
		width: 280px;
	}

	.faq-answer {
		font-size: 16px;
	}
}

@media (max-width: 490px) {
	.modal-content2 {
		width: 335px;
	}

	.btn-form {
		background: url(../img/btn-form.svg);
		width: 255px;
		height: 85px;
		font-family: 'SFProDisplay-Bold';
		background-repeat: no-repeat;
		background-size: contain;
		font-size: 14px;
		margin-top: 10px;
		padding-bottom: 20px;
	}

	.note {
		margin-top: 0px;
	}

	.questions__wrap-info {
		width: 315px;
	}
}

@media (max-width: 425px) {
	.question__wrap-input>form>input {
		width: 350px;
	}

	.hero__title {
		font-size: 42px;
	}

	.section__title {
		font-family: 'Exo2-Semibold';
		font-size: 50px;
		text-align: center;
		text-transform: uppercase;
		color: var(--white);
		margin-top: 80px;
		line-height: 115%;
	}

	.section__title {
		font-family: 'Exo2-Semibold';
		font-size: 32px;
	}

	.fancybox-slide--html {
		padding: 15px;
	}

	.d5-block-1 .ccol {
		display: table-cell;
		width: 32%;
		margin-right: 40px;
		vertical-align: top;
	}

	.d5-block-1 .crow {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.modal-block {
		min-width: 360px;
	}

	.header__link {
		width: 320px;
	}

	.partner__item__group {
		font-size: 16px;
	}

	.modal-block h2 {
		font-size: 22px;
	}

	.modal-block {
		max-width: 5vw !important;
		min-width: 90vw !important;
	}
}

@media (max-width: 376px) {
	.partner__item__group {
		font-size: 14px;
	}

	.question__wrap-btn {
		padding: 18px 25px;
	}

	.partner__item-secondary,
	.partner__item-primary {
		font-size: 14px;
	}
}

@media (max-height: 900px) {
	.hero {
		margin-top: 50vh;
	}
}

@media (max-height: 800px) {
	.hero {
		margin-top: 48vh;
	}
}

@media (max-height: 700px) {
	.hero {
		margin-top: 42vh;
	}
}

@media (max-height: 650px) {
	.hero {
		margin-top: 35vh;
	}
}

.modal__wrapper-partner::-webkit-scrollbar {
	width: 5px;
}

.modal__wrapper-partner::-webkit-scrollbar-track {
	background: #fff;
}

.modal__wrapper-partner::-webkit-scrollbar-thumb {
	background-color: #050c2641;
	border-radius: 90px;
	border: 0px solid #050c263d;
}